@model vodTimeControl.Models.CProject
@{
    ViewBag.Title = "registerProject";
}

<div class="row">
    <div class="col-md-10">
        <div class="well" style="margin-top:5px;">
            <div class="col-md-10">
                <h3 style="margin-top:0px; color:darkseagreen">Projekt</h3>
            </div>

            @Html.DropDownList("customerIdList", ViewBag.Customer as SelectList, "--Välj kund--", new { @class = "form-control", style = "margin-bottom: 5px;" })
        </div>

        <div>
            <br />
            <table class="table table-striped" id="myDataTable">
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th>Aktivt</th>
                        <th>Ändra</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <br />
        <div class="well">
            <a href="#" class="btn btn-success" onclick="AddEditProj(0)">&nbsp;Nytt&nbsp;</a>
            <span id="ErrorTextId" style="color:red; margin-bottom:5px; margin-left:10px">
            </span>
        </div>

    </div>

    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Ändra/skapa projekt</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var oTable;
    $(document).ready(function () {
        //BindDataTable();
    });


    var BindDataTable = function (response) {

        if ($.fn.DataTable.isDataTable("#myDataTable")) {
            oTable.draw();
        }
        else {

            oTable = $("#myDataTable").DataTable({
                "bServerSide": true,
                "sAjaxSource": "/Home/getProjects",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    var custID = $("#customerIdList").val();
                    if (custID == "")
                        custID = 0;                        
                    aoData.push({ "name": "customerID", "value": custID });                                                           
                    $.ajax({
                        data: aoData,
                        type: "Get",
                        url: sSource,
                        success: fnCallback
                    })


                },
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Swedish.json"
                },
                "aoColumns": [
                    { "mData": "projectName" },
                    {
                        "mData": "active",
                        "bSortable": false,
                        "render": function (active, type, full, meta) {
                            var s = '<input type="checkbox" '
                            if (active)
                                s = s + " checked ";                            
                            s = s + ' disabled />';
                            return s;
                        }
                    },
                    {
                        "mData": "projectID",
                        "bSortable": false,
                        "render": function (projectID, type, full, meta) {
                            return '<a href="#" onclick="AddEditProj(' + projectID + ')"><i class="glyphicon glyphicon-pencil"></i></a>'

                        }
                    },
                ]

            });
        }
    }

    $("#customerIdList").change(function () {
        $("#ErrorTextId").html("");
        BindDataTable();
    })

    var AddEditProj = function (ProjectID) {

        var custID = $("#customerIdList").val();
        if (custID == "") {
            $("#ErrorTextId").html("<span>Kund måste väljas först</span>");
            return;
        }
        var url = "/Home/AddEditProj?ProjectID=" + ProjectID + "&CustomerID=" + custID;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })
    }

    

</script>

